language: generic
env:
  - HEAD=yes
  - HEAD=no
sudo: false

addons:
  apt:
    packages:
      - vim
      - gettext
      - libncurses5-dev
      - libacl1-dev
      - libgpm-dev
      - libperl-dev
      - ruby-dev
      - python-dev
      - python3-dev
      - lua5.2
      - liblua5.2-dev

install:
  - wget -O - https://git.io/v6N6q | bash
  - if [ x"$HEAD" = "xyes" ]; then export PATH=$HOME/vim/bin:$PATH; fi
  - git clone -q --depth 1 --single-branch https://github.com/syngan/vim-vimlint    /tmp/vim-vimlint
  - git clone -q --depth 1 --single-branch https://github.com/ynkdir/vim-vimlparser /tmp/vim-vimlparser
  - git clone -q --depth 1 --single-branch https://github.com/thinca/vim-themis     /tmp/vim-themis
  - git clone -q --depth 1 --single-branch https://github.com/vim-jp/vital.vim      /tmp/vital

script:
  - which -a vim
  - vim --version
  - /tmp/vim-themis/bin/themis --reporter dot --runtimepath /tmp/vital
  - /tmp/vim-vimlint/bin/vimlint.sh -l /tmp/vim-vimlint -p /tmp/vim-vimlparser -e EVL103=1 -e EVL102.l:_=1 -c func_abort=1 autoload
  - vim --cmd "try | helptags doc/ | catch | cquit | endtry" --cmd quit
